<div *ngIf="campaign">
    <h2>Name: {{campaign.name}}</h2>

    <div><label>id: </label>{{campaign.id}}</div>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="campaign.name" placeholder="name"/>
        <br/>
        <label>Enabled: </label>
        <input type="checkbox" [(ngModel)]="campaign.enabled" placeholder="enabled"/>
        <br/>
        <label>Rotation Type: </label>
        <input [(ngModel)]="campaign.rotationType" placeholder="rotation Type"/>
    </div>
</div>
